altair==4.1.0
appnope==0.1.0
astor==0.8.1
attrs==19.3.0
backcall==0.2.0
base58==2.0.1
bert-extractive-summarizer==0.4.2
bleach==3.1.5
blinker==1.4
blis==0.2.4
boto3==1.14.12
botocore==1.17.12
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.3
Cython==0.29.10
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
# en-core-web-md==2.1.0
# en-core-web-sm==2.1.0
entrypoints==0.3
enum-compat==0.0.3
filelock==3.0.12
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth==1.18.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
importlib-metadata==1.5.0
ipykernel==5.3.2
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.0
jsonschema==2.6.0
jupyter-client==6.1.5
jupyter-core==4.6.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
-e git://github.com/hiive/mlrose@cd5ccc525496efa2bebb47ee02f32f7b63079113#egg=mlrose_hiive
more-itertools==8.2.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.3
neuralcoref==4.0
notebook==6.0.3
numpy==1.16.3
oauthlib==3.1.0
opencv-python==4.3.0.36
packaging==20.1
pandas==0.25.1
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydeck==0.4.0b2
Pygments==2.6.1
pyparsing==2.4.2
pytest==5.3.5
python-dateutil==2.8.0
pytz==2019.2
pyzmq==19.0.1
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
sentencepiece==0.1.91
six==1.12.0
sklearn==0.0
spacy==2.1.3
srsly==1.0.2
streamlit==0.62.1
terminado==0.8.3
testpath==0.4.4
thinc==7.0.8
tokenizers==0.8.1rc1
toml==0.10.1
toolz==0.10.0
torch==1.0.1
tornado==6.0.4
tqdm==4.32.2
traitlets==4.3.3
-e git+https://github.com/huggingface/transformers.git@7fad617dc1fc681a7f5da5e0172c8b83f4bf0024#egg=transformers
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.9
validators==0.15.0
wasabi==0.7.0
watchdog==0.10.3
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
yellowbrick==1.0.1
zipp==2.1.0
